div.Title {
    cursor:wait;
    background-color: lightgray;
}
body {
    background-color: blueviolet;
}
html {
    cursor:wait;
}

div {
    cursor:grab;
    background-color: pink;
    border: solid 4px black;
}
h1 {
    background-color: lightgray;
    color: black;
    text-decoration: underline black;
    text-decoration-style:solid;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}
h2 {
    background-color: lightgray;
    background-size:auto;
    color: black;
    text-decoration: underline pink;
    text-decoration-style:solid;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}
img {
    border:2px solid black;
    width:300px;
    height: 300px;
    border-color: pink;
}
